.logo{
    width: 5rem;
}
.navbar{
 box-shadow: 1px 2px 4px black;
 margin-bottom: 2rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
#Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#Card{
    width: 25%;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color:rgb(255, 225, 187);
    box-shadow: 1px 3px 4px brown;
}

#Card p{
    font-size:1.4rem;
}
#Card p span{
    font-weight: 600;
}
.center{
    text-align: center;
}
.error{
    font-size: 2rem;
    padding: 1rem;
    color: red;
}
.search{
    display: flex;
    justify-content: center;
}
.search input{
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 2rem;
}
